.btn-green {
    background: url('../img/bg-btn-green.svg') no-repeat center center/auto 100%;
}

.btn-img {
    display: inline-block;

    img {
        width: 100%;
    }

    &:hover {
        filter: brightness(1.2) saturate(1.2);

        img {
            filter: drop-shadow(0 0 .5rem rgba(black, .15));
        }
    }
}

.btn-group-history {
    position: relative;

    &-link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        a {
            display: block;
            height: 100%;
            font-size: 0;
            color: transparent;
        }
    }
}