.btn-green {
    background: url('../img/bg-btn-green.svg') no-repeat center center/auto 100%;
}

.btn-img {
    display: inline-block;

    img {
        width: 100%;
    }

    &:hover {
        filter: brightness(1.2) saturate(1.2);

        img {
            filter: drop-shadow(0 0 .5rem rgba(black, .15));
        }
    }
}

.btn-group-history {
    position: relative;

    &-link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        a {
            display: block;
            height: 100%;
            font-size: 0;
            color: transparent;
        }
    }
}

.btn-history-withdraw {
    border: 2px solid #d7d7d7;
    color: #7b7b7b;
    border-radius: 1rem;
    @include font-size(25);
    margin-bottom: 1.5rem;
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;

    .btn-icon {
        position: absolute;
        bottom: -1rem;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
        padding: 0 .5rem;
        line-height: 1;
    }
}

.btn-copy-link {
    background: url('../img/btn-copy-link.png') no-repeat center center/100% 100%;
    border-width: 0;
}