.card-user {
    border-radius: 35px;
    border-width: 0;
    color: $black;
    box-shadow: 0 5px 5px rgba($black, .5);

    .card {
        &-header {
            background-color: transparent;
        }

        &-id {
            @include font-size(40);
            line-height: 1;

            strong {
                display: block;
                @include font-size(70);
                color: $green-2;
            }
        }

        &-name {
            span {
                background-color: $black;
                color: #99e033;
                padding: .5rem 4rem .25rem;
                @include font-size(33);
                display: inline-block;
                border-radius: .5rem;
                border: 2px solid #99e033;
            }
        }

        &-inner {
            background-color: #082a20;
            padding: 0 1.5rem 1.5rem;
            border-radius: 1rem;
            margin-top: 1rem;

            .btn-link {
                color: $white;
                @include font-size(18);
                line-height: 1;
                background: linear-gradient(to bottom, #267229 0%, #29f23f 35%, #09482f 65%, #29b034 100%);
                position: relative;
                border-radius: 1rem;
                box-shadow: 0 0 .5rem #2b7829;
                padding: 1rem;

                &::before {
                    content: '';
                    position: absolute;
                    top: 3px;
                    left: 3px;
                    right: 3px;
                    bottom: 3px;
                    background-color: #0e3624;
                    border: .25rem solid black;
                    border-radius: 1rem;
                    z-index: 0;
                }

                * {
                    position: relative;
                }

                &-icon {
                    display: block;
                    font-size: 2.5em;
                    filter: drop-shadow(0 0 .15rem #95dd0a);
                    margin-bottom: 0.25rem;
                }

                &:hover {
                    filter: brightness(1.1) saturate(1.5);
                }

                &-start {
                    background: linear-gradient(to bottom, #267229 0%, #29f23f 35%, #09482f 65%, #29b034 100%);
                    position: relative;
                    border-radius: 1rem;
                    box-shadow: 0 0 .5rem #2b7829;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 3px;
                        left: 3px;
                        right: 3px;
                        bottom: 3px;
                        background: linear-gradient(to bottom, #c9ec86 35%, #649123 65%);
                        border: .25rem solid black;
                        border-radius: 1rem;
                        z-index: 0;
                    }

                    * {
                        position: relative;
                    }

                    &:hover {
                        filter: brightness(1.1) saturate(1.5);
                    }
                }
            }

            .btn-group {
                border-radius: .5rem;
                overflow: hidden;

                .btn {
                    color: $black;
                    background: linear-gradient(to bottom, #c9ec86 35%, #649123 65%);

                    &:not(:last-child) {
                        border-right: 2px solid $black;
                    }

                    &:hover {
                        filter: brightness(1.1) saturate(1.5);
                    }
                }
            }

        }

        &-balance {
            padding: 2rem 1rem 1rem;
            border-radius: 1rem;
            background: #267229;
            background: linear-gradient(to bottom, #267229 0%, #29f23f 35%, #09482f 65%, #29b034 100%);
            position: relative;
            margin-top: -1rem;
            margin-bottom: 1.5rem;
            box-shadow: 0 0 .5rem #2b7829;

            &::before {
                content: '';
                position: absolute;
                top: 3px;
                left: 3px;
                right: 3px;
                bottom: 3px;
                background-color: $black;
                border-radius: 1rem;
                z-index: 0;
            }

            &-content {
                position: relative;

                .btn {
                    color: $green-2;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }

            &-text {
                color: $white;
                text-align: center;
                @include font-size(35);
                line-height: 1;

                strong {
                    display: block;
                    color: #fcff00;
                    @include font-size(58);
                }
            }
        }
    }
}