.card-user {
    border-radius: 35px;
    border-width: 0;
    color: $black;
    box-shadow: 0 5px 5px rgba($black, .5);

    .card {
        &-header {
            background-color: transparent;
        }

        &-id {
            @include font-size(40);
            line-height: 1;

            strong {
                display: block;
                @include font-size(70);
                color: $green-2;
            }
        }

        &-name {
            span {
                background-color: $black;
                color: #99e033;
                padding: .5rem 1rem .25rem;
                @include font-size(33);
                display: inline-block;
                border-radius: .5rem;
                border: 2px solid #99e033;

                @include media-breakpoint-up(lg) {
                    padding: .5rem 4rem .25rem;
                }
            }
        }

        &-inner {
            background-color: #082a20;
            padding: 0 1.5rem 1.5rem;
            border-radius: 1rem;
            margin-top: 1rem;

            .btn-link {
                color: $white;
                @include font-size(18);
                line-height: 1;
                background: linear-gradient(to bottom, #267229 0%, #29f23f 35%, #09482f 65%, #29b034 100%);
                position: relative;
                border-radius: 1rem;
                box-shadow: 0 0 .5rem #2b7829;
                padding: 1rem;

                &::before {
                    content: '';
                    position: absolute;
                    top: 3px;
                    left: 3px;
                    right: 3px;
                    bottom: 3px;
                    background-color: #0e3624;
                    border: .25rem solid black;
                    border-radius: 1rem;
                    z-index: 0;
                }

                * {
                    position: relative;
                }

                &-icon {
                    display: block;
                    font-size: 2.5em;
                    filter: drop-shadow(0 0 .15rem #95dd0a);
                    margin-bottom: 0.25rem;
                }

                &:hover {
                    filter: brightness(1.1) saturate(1.5);
                }

                &-start {
                    background: linear-gradient(to bottom, #267229 0%, #29f23f 35%, #09482f 65%, #29b034 100%);
                    position: relative;
                    border-radius: 1rem;
                    box-shadow: 0 0 .5rem #2b7829;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 1rem;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 3px;
                        left: 3px;
                        right: 3px;
                        bottom: 3px;
                        background: linear-gradient(to bottom, #c9ec86 35%, #649123 65%);
                        border: .25rem solid black;
                        border-radius: 1rem;
                        z-index: 0;
                    }

                    * {
                        position: relative;
                    }

                    &:hover {
                        filter: brightness(1.1) saturate(1.5);
                    }
                }
            }

            .btn-group {
                border-radius: .5rem;
                overflow: hidden;

                .btn {
                    color: $black;
                    background: linear-gradient(to bottom, #c9ec86 35%, #649123 65%);

                    &:not(:last-child) {
                        border-right: 2px solid $black;
                    }

                    &:hover {
                        filter: brightness(1.1) saturate(1.5);
                    }
                }
            }

        }

        &-balance {
            padding: 2rem 1rem 1rem;
            border-radius: 1rem;
            background: #267229;
            background: linear-gradient(to bottom, #267229 0%, #29f23f 35%, #09482f 65%, #29b034 100%);
            position: relative;
            margin-top: -1rem;
            margin-bottom: 1.5rem;
            box-shadow: 0 0 .5rem #2b7829;

            &::before {
                content: '';
                position: absolute;
                top: 3px;
                left: 3px;
                right: 3px;
                bottom: 3px;
                background-color: $black;
                border-radius: 1rem;
                z-index: 0;
            }

            &-content {
                position: relative;

                .btn {
                    color: $green-2;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }

            &-text {
                color: $white;
                text-align: center;
                @include font-size(35);
                line-height: 1;

                strong {
                    display: block;
                    color: #fcff00;
                    @include font-size(58);
                }
            }
        }
    }
}

.card-withdraw {
    .btn-copy {
        @include font-size(25);
        color: #7b7b7b;
        border: 5px double #7b7b7b;
        border-radius: 20px;
        background: linear-gradient(to bottom, rgba(238, 238, 238, 1) 0%, rgba(204, 204, 204, 1) 100%);
        box-shadow: inset 0px 0px 4.32px 3.68px rgba(149, 149, 149, 0.004);
    }
}

.card-account-deposit {
    border-radius: 15px;
    border: 2px solid #d7d7d7;
    overflow: hidden;

    .card {
        &-header {
            text-align: center;
            background-color: #e1e1e1;
            @include font-size(25);
            color: #4d4949;
        }

        &-list {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;

            li {
                display: flex;
                align-items: center;
            }

            &-img {
                width: 88px;
                height: 88px;
                object-fit: cover;
                margin-right: 1rem;
            }

            &-detail {
                p {
                    margin-bottom: 0.25rem;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.card-games {
    .card {
        &-inner {
            padding-bottom: 0;
        }
    }

    &-list {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;

        li:not(:last-child) {
            margin-bottom: 1.5rem;
        }

        &-link {
            display: block !important;

            img {
                width: 100%;
            }
        }
    }
}

.card-games-link {
    padding: 2rem 1rem 1rem;
    border-radius: 1rem;
    background: #267229;
    background: linear-gradient(to bottom, #267229 0%, #29f23f 35%, #09482f 65%, #29b034 100%);
    position: relative;
    box-shadow: 0 0 .5rem #2b7829;
    max-width: 787px;
    margin: 0 auto -1rem;

    &::before {
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        right: 3px;
        bottom: 3px;
        background-color: $black;
        border-radius: 1rem;
        z-index: 0;
    }

    .card {
        &-link {
            display: block;
            text-align: center;

            &-icon {
                margin-bottom: 10px;
                max-width: 100%;
            }

            &-text {
                @include font-size(18);
                color: $white;
            }
        }
    }
}

.card-commission {
    border-radius: 20px;
    text-align: center;
    color: $white;
    border: 0.25rem solid rgba($black, .15);
    overflow: hidden;

    &-inner {
        max-width: 760px;
        margin: 0 auto;
    }

    &.blue {
        background-color: #556292;
    }

    &.purple {
        background-color: #a864a8;
    }

    &.green {
        background-color: #3cb878;
    }

    .card {
        &-header {
            background-color: rgba($black, .15);
            border-bottom-width: 0;
            @include font-size(30);
        }

        &-title {
            margin-bottom: 0;
            opacity: 0.5;
            @include font-size(58);
        }
    }
}

.card-refund {
    @extend .card-commission;

    &.red {
        background-color: #f26d7d;
    }
}

.card-bonus {
    .card {
        &-list {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;

            li {
                &:not(:last-child) {
                    margin-bottom: 3rem;
                }
            }
        }

        &-img {
            border-radius: 0;
        }

        &-body {
            background-color: #534741;
            border-radius: 10px;
            height: 100%;
            margin-left: 0.25rem;
            display: flex;
            flex-direction: column;
            color: $white;
        }

        &-title {
            border-bottom: 1px solid rgba($white, .5);
            position: relative;

            &::before {
                content: '';
                position: absolute;
                right: 0;
                bottom: calc(-20px/2);
                width: 20px;
                height: 20px;
                background: #534741 url('../img/spade.png') no-repeat center center/auto;
            }
        }
    }
}

.card-custom {
    border-radius: 35px;
    border-width: 0;
    color: $black;
    box-shadow: 0 5px 5px rgba($black, .5);

    .card {
        &-header {
            background-color: transparent;
        }
    }
}