footer {
    padding: 1rem 0;
    text-align: center;

    small {
        opacity: 0.15;
    }

    @include media-breakpoint-up(lg) {
        padding: 2rem 0 6.5rem;
        background: url('../img/bg-footer@2x.png') no-repeat center top/cover;

        small {
            font-size: 1.5em;
        }
    }

    @include media-breakpoint-down(md) {
        border-top: 6px solid $gold;
        background-color: rgba(black, .25);
        padding-bottom: calc(1rem + 63px);
    }
}