.input-group-copy-link {
    background-color: #e1e1e1;
    border: 1px solid #c2c2c2;
    border-radius: 20px;

    .form-control {
        background-color: transparent;
        border-width: 0;
        border-radius: inherit;
    }
}