.list-promotion {
    li:not(:last-child) {
        margin-bottom: 1rem;
    }

    .card {
        background-color: $darkgreen;
        color: $white;
        padding: 0.5rem;
        border-radius: .5rem;
        height: 100%;

        &-header {
            border-bottom-color: $white;
            padding: .5rem 0;
            margin-bottom: 0.5rem;
        }

        .btn {
            border-radius: 10rem;
            color: $darkgreen;
            border-bottom: .25rem solid rgba($white, .15);
            text-shadow: 0 0 .25rem $white;
            font-size: 1.25rem;
            line-height: 1.25rem;
            padding-top: .5rem;
            @include gradient-y($start-color: $white, $end-color: rgba($white, 0), $start-percent: 0%, $end-percent: 100%);
        }
    }
}