.table-financial-history {
    color: $dark;
    white-space: nowrap;

    thead {
        tr {
            th {
                @include font-size(25);
                background-color: #e1e1e1;

                &:first-child {
                    border-top-left-radius: 1rem;
                }

                &:last-child {
                    border-top-right-radius: 1rem;
                }
            }
        }
    }

    tbody {

        tr {

            td {

                &.left {
                    display: flex;
                    @include font-size(18);

                    p {
                        margin-bottom: 0;
                    }

                    h5 {
                        @include font-size(25);

                        .badge {
                            border-radius: 10rem;
                            @include font-size(15);
                            margin-left: .5rem;

                            &-success {
                                background-color: rgba($success, .15);
                                border: 1px solid $success;
                                color: $success;
                                line-height: 1;
                                padding: .25rem .75rem;
                            }
                        }
                    }


                    img {
                        width: 77px;
                        height: 77px;
                        object-fit: contain;
                        margin-right: 0.5rem;
                    }

                    ul {
                        list-style: none;
                        padding-left: 0;
                        margin-bottom: 0;

                        li {
                            display: inline-block;

                            &:not(:last-child) {
                                margin-right: 1rem;
                            }
                        }
                    }
                }

                &.right {
                    vertical-align: bottom;
                    color: $green;
                    text-align: right;
                    @include font-size(38);
                    line-height: 1;

                    small {
                        color: $dark;
                        display: block;
                    }
                }
            }
        }
    }
}