// Colors
$yello: #ffd200;
$lightyellow: #fffc00;
$green: #018b45;
$lightgreen: #c5e738;
$darkgreen: #082a20;
$gold: #d3a661;
$lightgold: #ffe1a3;

$body-bg: $darkgreen;
$body-color: white;

$theme-colors: ("darkgreen": $darkgreen);

// Fonts
$font-supermarket: 'supermarket';
$font-arial: 'Arial Rounded MT';
$font-family-base: $font-supermarket;