@import './fonts';
@import './variables';
@import './bootstrap/bootstrap.scss';

@import './landing';
@import './header', './footer', './navs';

body {
    @include media-breakpoint-up(lg) {
        background: $darkgreen url('../img/bg-pattern.png') no-repeat center center/cover;
        background-attachment: fixed;
    }
}
